<div class="container">
  <div class="jumbotron">
    <h1 class="text-center">Recipe</h1>
    <% if @recipe %>
        <h1><%= @recipe.name %></h1>
        <% if @recipe.ingredients %>
          <h2>Ingredients</h2>
          <ul>
            <% @recipe.ingredients.each do |ingredient| %>
              <li><%= ingredient.quantity %> <%= ingredient.item.name %></li>
            <% end %>
          </ul>
        <% end %>
        <p><%= @recipe.macros %></p>
        <p>Prep time: <%= @recipe.prep_time %></p>
        <p>Cook time: <%= @recipe.cook_time %></p>
        <h3>Directions</h3>
        <p><%= @recipe.directions %></p>
        <p>Recipe by <%= @recipe.user.username %></p>
        <% if @recipe.user.id == session[:user_id] %>
        <%= link_to 'Edit Recipe', edit_user_recipe_path(@recipe.user, @recipe) %>
          <%= link_to 'Modify Ingredients', new_recipe_ingredient_path(@recipe) %>
          <%= link_to "Delete", @recipe, method: :delete, data: { confirm: "Really?" } %>
        <% end %>
    <% end %>
  </div>
</div>
