<div class="container">
  <div class="jumbotron">
    <div class="form-group">
      <%= form_for @user do |f| %>
        <%= f.label 'Username:' %>
        <%= f.text_field :username, :class => "form-control" %>
        <%= f.label 'Password:' %>
        <%= f.password_field :password, :class => "form-control" %>
        <%= f.submit 'Sign Up', :class => "btn btn-primary mt-2" %>
      <% end %>
    </div>
          <%= link_to 'Sign up with Facebook', '/auth/facebook', :class => 'btn btn-primary mt2' %>
  </div>
</div>
