<%= form_for [@recipe, @ingredient] do |f|%>
  <%= f.label :item%>
  <%= f.text_field :item %>
  <%= f.label :quantity %>
  <%= f.text_field :quantity %>
  <%= label_tag 'Add another ingredient?' %>
  <%= label_tag 'Add another ingredient?', 'Yes' %>
  <%= radio_button_tag 'add', true %>
  <%= label_tag 'add', 'No' %>
  <%= radio_button_tag 'add', false %>

  <% hidden_field(:recipe, :id) %>
  <%= f.submit 'Create Ingredients' %>
<% end %>

<% @ingredients.each do |ingredient| %>
  <ul>
    <li><%= ingredient.item.name %></li>
  </ul>
<% end %>
